version: '3'
services:
  postgres:
    image: postgres:11.1-alpine
    container_name: quote_flow_postgres
    ports:
      - "5433:5433"
    volumes:
      - ./temp/postgres/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=your_postgres_database
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=your_postgres_password
  app:
    image: node
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/quote-flow
      - node_modules:/quote-flow/node_modules
    container_name: quote_flow_app
    ports:
      - "3020:3020"
    links:
      - postgres
    environment:
      - NODE_ENV=local
      - DB_URI=postgres://postgres:your_postgres_password@postgres:5433/database_name
      - ACCESS_SESSION_SECRET=your_session_secret
      - ACCESS_SESSION_LIFE=300

volumes:
  node_modules:
